.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 2rem; Removed to prevent overflow */
    box-sizing: border-box;
}

.layout__footer {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #888;
    font-size: 0.85rem;
    border-top: 1px solid #eaeaea;
}